:root {
    --color-soft-blue: #75a9ea;
    --color-dark-blue: #4883b5;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}
