.Timeline .bar {
  fill: #266090;
}

.Timeline .replyBar {
  fill: #0099cc;
}

.Timeline .yValue {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.Timeline .xValueBox {
  fill: slategray;
}

.Timeline .xValue {
  font-size: 12px;
  letter-spacing: 0.001em;
}
