.Chart .bar {
  fill: var(--color-primary);
}

.Chart .replyBar {
  fill: var(--color-secondary);
}

.Chart .yValue {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.Chart .xValueBox {
  fill: slategray;
}

.Chart .xValue {
  font-size: 12px;
  letter-spacing: 0.001em;
}
